body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #0a143a;
}
.header {
    max-width: 1146px;
    margin: auto;
    padding-top: 30px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.logo {
}
.logo-image {
}
.navbar-menu {
    margin-right: auto;
}
.menu {
    list-style: none;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
}
.menu-item:not(:last-child) {
    margin-right: 14px;
}
.menu-link {
    text-decoration: none;
    color: inherit;
}
.button-group {
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}
.button-link {
    color: inherit;
}
.button-primary {
    background: #256eeb;
    border-radius: 5px;
    color: #fff;
}
.search-panel {
    height: 50px;
    background: #256eeb;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}
.search-input {
    flex-grow: 1;
    background: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 0 22px;
}
.search-button {
    background: #256eeb;
    border: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}
.search-icon {
}
.search-button-text {
    margin-left: 5px;
    font-size: 16px;
}
