body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
}
.container {
  max-width: 1146px;
  margin: auto;
}

/* .header */
.header {
  padding-top: 30px;
  margin-bottom: 22px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.navbar-menu {
  margin-right: auto;
}
.menu {
  list-style: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
}
.menu-item:not(:last-child) {
  margin-right: 14px;
}
.menu-link {
  text-decoration: none;
  color: inherit;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256eeb;
  border-radius: 5px;
  color: #fff;
}
.search-panel {
  height: 44px;
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 0 22px;
}
.search-button {
  background: #256eeb;
  border: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
  font-size: 16px;
  line-height: 19px;
}
/* /.header */

/* content */
.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}
/* main */
h2 {
  margin-bottom: 25px;
}
.page-title {
  font-size: 24px;
  line-height: 28px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 20px;
}
.card:not(:nth-child(3n)) {
  margin-right: 20px;
}
.card-link {
  text-decoration: none;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  max-width: 220px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.like {
  background: #fff;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.card-price {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}
/* /.main */

/* sidebar */
.sidebar {
  padding-left: 14px;
}
.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}
.service {
  font-size: 14px;
  line-height: 16px;
  margin-top: 25px;
  margin-bottom: 27px;
}
.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.service-text {
  max-width: 265px;
  margin-top: 5px;
}
/* /.sidebar */

/* footer */
.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
}
/* /.footer */

/* /.content */
